* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url(back1.png);
}

/* This is the grass background */
.ground {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* The starting black screen with the dice and number */
#start {
    position: relative;
    width: 100svw;
    height: 100svh;
    background-color: black;
    display: none;
    z-index: 1;
}

/* Centered the number for the dice and its below the dice */
#number {
    position: absolute;
    color: white;
    transition: ease-in 1s;
    /* display: none; */
    font-size: 10em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Centers dice gif and lifts it up a bit */
#dice {
    /* display: none; */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10svw;
    height: 15svh;
}

/* Keeps the pixel-corners and sticky near the the top*/
.progress {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 80%;
    height: 50px;
    transform: translate(-50%, -50%);
}

/* pixel-corners is stuck to the top */
.pixel-corners {
    width: 100%;
    position: relative;
    top: 0;
    padding: 0.5%;
    background-color: black;
    /* This is how we did the pixeled corners of the img */
    clip-path: polygon(0px 8px,
            4px 8px,
            4px 4px,
            8px 4px,
            8px 0px,
            calc(100% - 8px) 0px,
            calc(100% - 8px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 8px,
            100% 8px,
            100% calc(100% - 8px),
            calc(100% - 4px) calc(100% - 8px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 8px) calc(100% - 4px),
            calc(100% - 8px) 100%,
            8px 100%,
            8px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 8px),
            0px calc(100% - 8px));
}

/* Sticky is stuck to pixel-corners and is to the right side of it */
.sticky {
    position: relative;
    bottom: -0.6em;
    right: -94%;
    z-index: 2;
}

/* This is the arrow to the right side of the screen. */
.inventory {
    position: absolute;
    left: 98%;
    top: 50%;
}

.inventoryNew {
    left: 90%;
}