
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url(back1.png);
}

.ground {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#start{
    position: relative;
    width: 100svw;
    height: 100svh;
    background-color: black;
    display: none;
    z-index: 1;
}

#number{
    position: absolute;
    color: white;
    transition: ease-in 1s;
    /* display: none; */
    font-size: 10em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dice{
    /* display: none; */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10svw;
    height: 15svh;
}

.progress{
    position: absolute;
    top: 30px;
    left: 50%;
    width: 80%;
    height: 50px;
    transform: translate(-50%, -50%);
}

.pixel-corners {
    width: 100%;
    /* transition: ease-in-out 1s; */
    padding: 0.5%;
    background-color: black;
    clip-path: polygon(
      0px 8px,
      4px 8px,
      4px 4px,
      8px 4px,
      8px 0px,
      calc(100% - 8px) 0px,
      calc(100% - 8px) 4px,
      calc(100% - 4px) 4px,
      calc(100% - 4px) 8px,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 4px) calc(100% - 8px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 8px) calc(100% - 4px),
      calc(100% - 8px) 100%,
      8px 100%,
      8px calc(100% - 4px),
      4px calc(100% - 4px),
      4px calc(100% - 8px),
      0px calc(100% - 8px)
    );
  }

  .inventory {
    position: absolute;
    left: 98%;
    top: 50%;
  }

  .inventoryNew {
    left: 90%;
  }