@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url(images/back1.png);
}

/* Just to make element 'disapear' */
.null {
    display: none;
}

/* This is the grass background */
.ground {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* The starting black screen with the dice and number */
#start {
    position: relative;
    width: 100svw;
    height: 100svh;
    background-color: black;
    /* display: none; */
    z-index: 1;
}

/* Centered the number for the dice and its below the dice */
#number {
    position: absolute;
    color: white;
    transition: ease-in 1s;
    font-size: 10em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Centers dice gif and lifts it up a bit */
#dice {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10svw;
    height: 15svh;
}

/* Keeps the pixel-corners and sticky near the the top*/
.progress {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 80%;
    height: 50px;
    transform: translate(-50%, -50%);
}

/* pixel-corners is stuck to the top */
.pixel-corners {
    width: 100%;
    position: relative;
    top: 0;
    padding: 0.5%;
    background-color: black;
    /* This is how we did the pixeled corners of the img */
    clip-path: polygon(0px 8px,
            4px 8px,
            4px 4px,
            8px 4px,
            8px 0px,
            calc(100% - 8px) 0px,
            calc(100% - 8px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 8px,
            100% 8px,
            100% calc(100% - 8px),
            calc(100% - 4px) calc(100% - 8px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 8px) calc(100% - 4px),
            calc(100% - 8px) 100%,
            8px 100%,
            8px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 8px),
            0px calc(100% - 8px));
}

/* Sticky is stuck to pixel-corners and is to the right side of it */
.sticky {
    position: relative;
    bottom: -0.6em;
    right: -94%;
    z-index: 2;
    font-family: "Pixelify Sans", sans-serif;
}

/* This is the arrow to the right side of the screen. (no inventory yet) */
.inventory {
    display: flex;
    position: absolute;
    left: 90%;
    top: 10%;
    /* align-items: center; */
    /* transform: translateX(-150%); */
    transform: translateX(50%);
}

/* Shows inventory */
.inventoryNew {
    display: flex;
    position: absolute;
    left: 90%;
    top: 10%;
    transform: translateX(-23%);
}

/* Normal arrow */
.arrow{
    width: 34px;
    height: 60px;
}

/* Mirrowed arrow */
.arrowNew{
    width: 34px;
    height: 60px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Fixing the width and height because of box-sizing */
.inventory-board{
    width: 160px; /*Aka 100%*/
    height: 544px; /*Aka 100%*/
    /* Bigger board size w:160px h:544px (times 4)*/
    /* Original board size w:40px h:136px */
}

/* Black box on the screen */
.dialouge {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    height: 35svh;
    width: 50svw;
    /* Pixeled corners */
    clip-path: polygon(0px 8px,
            4px 8px,
            4px 4px,
            8px 4px,
            8px 0px,
            calc(100% - 8px) 0px,
            calc(100% - 8px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 8px,
            100% 8px,
            100% calc(100% - 8px),
            calc(100% - 4px) calc(100% - 8px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 8px) calc(100% - 4px),
            calc(100% - 8px) 100%,
            8px 100%,
            8px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 8px),
            0px calc(100% - 8px));
}

/* Wraper for the options to be side by side */
.divide {
    height: 45%;
    background-color: white;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

/* just text, no options */
.full {
    height: 100%;
    line-height: 2;
    font-size: 1.3rem;
    margin: 15px;
}

/* 50/50 on text and options */
.half {
    height: 45%;
    line-height: 1.6;
    font-size: 1.3rem;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: black;
}

/* Left box */
.option-1 {
    display: flex;
    width: 48%;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 1.6;
}

/* right box */
.option-2 {
    display: flex;
    width: 48%;
    background-color: black;
    text-align: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 1.6;
}

/* Fix this later */
.divide p {
    width: 100%;
    font-size: 1.5rem;
}

/* fighting */
.fight {
    position: absolute;
    left: 0;
    top: 60%;
    z-index: 9999;
}

#fightbar {
    width: 100dvw;
}